<!DOCTYPE html>
<html>
<style>
.myDiv {
  border: 5px outset black;
  background-color:red;
  text-align: center;
  text-color: white;
}
</style>
<div class="myDiv">
<title>Django learning train</title>
<body>
  <h1>Django learning train</h1>
  <h1>Welcome aboard</h1>

  <h3>Hi there!</h3>
  <h3>It works!</h3>
  <ul>
  <li>
  <p>Testing out the difference between em and strong tags<br>This is an <em>emphasis tag</em>
  <br>This is a <strong>strong tag</strong></p>
  </li>
  <li><a href="https://kevinator.pythonanywhere.com" target="_blank">Link to my web app.</a></li>
  </ul>
</body>
</div>

</html>
